.container {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe_email {
  margin-top: 4rem;
  background-color: #363f4e;
  height: 400px;
  display: flex;
  align-items: center;
}

.Product_title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.Underline {
  font-size: 30px;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

.Underline::before {
  content: "";
  position: absolute;
  width: 42%;
  height: 9px;
  bottom: 9px;
  left: 31%;
  border-bottom: 3px solid white;
}

.container button {
  border-radius: var(--bs-border-radius-pill)!important;
  font-weight: 600!important;
  font-size: 1rem!important;
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
  padding-right: 3rem!important;
  padding-left: 3rem!important;
  margin-right: 1.5rem!important;
  margin-left: 1.5rem!important;
  border: 0!important;
  background-color: #eb3d32;
  color: white;
}