.LoginRegistration {
  display: flex;
  justify-content: center;
  margin-top: 246px!important;
  margin-bottom: 246px!important;
}

.LoginRegistration label {
  color: #878787;
}

.LoginRegistration li{
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 14px;
  padding: 0;
}

.loginBlock {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)  ;
}

.LoginRegistration a {
  text-decoration: none;
  color: #EB3E32;
}

.LoginRegistration input {
  padding-left: 20px;
}

.subTitle_color {
  color: #EB3E32;
}

.subTitle {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

.grayText_color {
  color: #828282;
  margin-left: 2px;
  font-weight: 400;
}

.inputText {
  border: 1px solid #CACACA;
  border-radius: 30px;
  width: 100%;
  height: 47px;
}

.login_button {
  width: 100%;
  height: 48px;
  border: none;
  background: #EB3E32;
  border-radius: 50px;
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .loginBlock {
    border-right: none;
  }
}