footer{
  margin-top: 4rem;
  background-color: #fbf9fa;
  padding: 3rem 0 3rem 0;
}

footer h5 {
  margin-bottom: 1rem;
  width: max-content;
}

footer li {
  margin-bottom: 0.5rem;
}

footer span {
  font-weight: 500;
  opacity: 80% !important;
  font-size: 16px;
}

.contact_info {
  width: max-content;

}

.aboutUsIcon {
  font-size: 20px;
  color: #eb3d32;
}

.contactInfo {
  margin: 0 0.5rem 0 0.5rem;
}

@media screen and (max-width: 576px) {
  footer {
    padding: 1.5rem 0 1.5rem 0;
  }
  footer h5 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  footer p {
    font-size: small;
  }
  footer p span{
    font-size: 15px;
    opacity: 0.5!important;
  }
  .contactInfo {
    font-size: 13px;
  }
  footer li {
    margin-bottom: 0!important;
  }
}
