.shopListCategory li{
  border-bottom: 1px solid #cdcdcd;
  border-bottom-style: dashed;
  color: #7a7a7a;
}

.shopListCategory li:first-child{
  border-bottom: 1px solid #cdcdcd;
  color: black;
}

.filterPrice {
  color: #3f3e3e
}

.recentImg {
  height: 77px;
  width: 87px;
  background-repeat: no-repeat!important;
  display: flex;
  justify-content: center;
  background-size: cover !important;
}

.filterSlider {
  width: 94%!important  ;
}

.commentColor {
  color: #eb3d32;
}

.textGreyColor {
  color: #7a7a7a!important;
}

.formSelect select {
  border-radius: 4px!important;
  height: 46px;
}

.formSelect select:focus {
  border-color: black!important;
  box-shadow: none!important;
  border: 2px solid black!important;
}

.sortIcon {
  background-color: #363f4e;
  color: white;
}

.sortButton button:focus  {
  background-color: #eb3d32;
}

.pagination li a{
  background-color: black;
  color: white;
}

.pagination li a:hover{
  background-color: #eb3d32;
  color: white;
}

.pagination li a:focus{
  background-color: #eb3d32;
  color: white;
  box-shadow: none!important;
}

.product_name {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.product_name a {
  color:#000;
  font-weight: 600;
  text-decoration: none;
}

.product_name a:hover {
  color: #eb3d32;
}

.selectionBlockLink {
  color: #7a7a7a;
}