.Box {
  height: auto;
  background-color: #eb3d32;
  margin-top: 4rem;
}

.Box_inside {
  margin-top: 3%;
  margin-left: 10%;
  display: flex;
  margin-right: 10%;
  align-items: stretch;
}

.Box_avatar {
  display: flex;
  height: 195px;
  justify-content: flex-end;
}

.Box_avatar img{
  border-radius: 50%;
  width: 195px;
}

.quote_w {
  width: 50px;
}

.Box p {
  padding: 20px 10px 0 10px;
}

.user_comment {
  color: white;
  font-weight: 500;
}

.user_name {
  color: black;
  font-weight: 600;
  font-style: italic;
}

.mySwiper span{
  border: 6px solid white;
}

.px_4 {
  margin-left: 1.5rem;
  margin-right  : 1.5rem;
}

@media screen and (max-width: 1199px) {
  .Box_avatar{
    justify-content: center;
    margin-bottom: 1rem;
  }
  .Box {
    text-align: center;
  }
}
