.Product_title {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.UnderlineA {
  font-size: 30px;
  width: max-content;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

.UnderlineA::before {
  content: "";
  position: absolute;
  width: 42%;
  height: 9px;
  bottom: 9px;
  left: 31%;
  border-bottom: 3px solid #f24432;
}

.UnderlineB {
  font-size: 30px;
  width: max-content;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

.UnderlineB::before {
  content: "";
  position: absolute;
  width: 42%;
  height: 9px;
  bottom: 9px;
  left: 0%;
  border-bottom: 3px solid #f24432;
}

@media screen and (max-width: 576px) {
  .Underline {
    width: max-content;
    font-size: 18px;
  }
  .Underline::before {
    width: 46%;
    bottom: 4px;
    left: 29%;
  }
  .Product_title{
    flex: none!important;
  }
}