.productDetailIMG {
  height: 500px;
  background-size: cover!important;
}

.productDetailSmall {
  width: 103px;
  height: 118px;
}

.addToCartButton {
  background-color: #eb3d32;
}

.socialNetworkIcon span{
  background-color: #363f4e;
  color: white;
  margin-right: 8px;
  padding: 9px 12px 10px 12px;
  height: fit-content;
}

.leftIcon {
  background-color: #363f4e;
  fill: white;
}

.afterSalePriceColor {
  color: #eb3d32;
}

.description a {
  color: white;
}

.description a:hover {
  color: white;
}

.reviewTime {
  font-size: 14px;
}

.reviewContent {
  padding: 1rem 1rem 8rem 1rem!important;
}

.submitButton {
  background-color: #363f4e;
  color: white;
}

.submitButton:hover {
  background-color: #eb3d32;
}

.relatedProduct {
  margin-top: 15rem;
}

.additionalInfo {
  display: none;
}

.rightIcon {
  justify-content: flex-end;
}

.cartButtonCol {
  justify-content: flex-end;
}

.hiddenIcon {
  display: none;
}

@media screen and (max-width: 992px) {
  .additionalInfo {
    display: block;
  }
  .rightIcon {
    justify-content: flex-start;
  }
  .hiddenIcon {
    display: block;
  }
}

@media screen and (max-width: 447px) {
  .rightIcon {
    justify-content: flex-start;
  }
  .cartButtonCol {
    justify-content: flex-start;
  }
}