.nav_categories {
  color: black !important;
  font-weight: 600 !important;
}

.nav_categories:hover {
  color: rgb(109, 109, 109) !important;
}

.main {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}