.nav_categories {
  color: black !important;
  font-weight: 600 !important;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem!important;
}

.nav_categories:hover {
  color: rgb(109, 109, 109) !important;
}

.main {
  border-bottom: 1px solid rgb(207, 205, 205);
  border-top: 1px solid rgb(207, 205, 205);
}

.containerNavbar{
  padding: 0!important;
}

@media screen and (max-width:1400px) {
  .main {
    border: none;
  }
  .main .container {
    padding-right: 0!important;
  }
  .navbarNav {
    display: flex;
    align-items: flex-end;
  }
  .nav_categories {
    padding: 0.5rem 0 0.5rem 0!important;
  }
  .containerNavbar{
    display: flex;
    justify-content: flex-end!important;
  }
}