#app { height: 100% }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper h1 {
  font-weight: bold;
}

.swiper-pagination-bullet {
  background-color: #eb3d32 !important;
  padding: 8px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper_height {
  height: 600px;
}

.swiper_height img {
  width: 100%;
  height: 100%;
}

.slideBanner {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 7px #0000005e;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.slideBanner p {
  text-align: start;
  width: 59%;
  font-weight: 400;
  font-size: 21px;
}

p {
  font-size: large;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: lighter;
}

h1 {
  font-weight: bold !important;
}

.button {
  background-color: #eb3d32;
  border-radius: var(--bs-border-radius-pill)!important;
  border: none;
  color: white;
  padding: 10px 25px 10px 25px;
  font-size: 16px !important;
  font-weight: bold !important;
}

@media screen and (max-width: 576px) {
  .swiper_height {
    height: 270px;
  }
  .swiper_height img {
    object-fit: cover;
  }
  .swiper_height h1 {
    font-size: 1.3rem;
    font-weight: 500!important;
  }
  .swiper_height p {
    font-size: 0.7rem;
    opacity: 0.8;
  }
  .button {
    padding: 8px 14px 8px 14px;
    font-size: 11px !important;
    font-weight: 500!important;
  }
  .slide_1 {
    left: 36%;
  }
  .slide_2 {
    right: -20%;
  }
  .slide_2 p {
    width: 100%;
  }
  .slide_3 {
    left: 36%;
  }
}
