.searchBar {
  border-color: lightgrey;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.search_Btn {
  color: white;
  height: 55px;
  border: none;
  width: 122px;
  background-color: #eb3d32;
  font-weight: 500;
}

.container {
  padding: 0%!important;
}

.search_Box {
  height: 55px;
  width: 300px;
  padding-left: 40px;
  border-color: lightgrey;
  border: 1px solid lightgrey;
}

.logo {
  padding: 0!important;
}

.btn-primary {
  background-color: yellow;
}

.cart {
  display: flex;
}

.cart_button {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.cart_toggle {
  display: flex !important;
  align-items: center;
  color: #eb3d32;
  padding: 0!important;
}



.searchBar img {
  padding: 10px;
}

.padding_lr {
  padding: 0 10px 0 10px;
}

button:first-child:active {
  border-color: white !important;
}

.badge {
  background-color: #eb3d32 !important;
  border-radius: 50% !important;
  position: relative !important;
  transform: translate(-50%,-50%)!important;
}

.space_between {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  font-size: large;
}

.center {
  display: flex;
  justify-content: center;
}

.view_cart_button {
  background-color: #eb3d32;
  border-radius: var(--bs-border-radius-pill)!important;
  border: none;
  color: white;
  padding: 5px 20px 5px 20px;
  font-weight: 500;
}

.view_cart_button:hover {
  background-color: #e21304;
}

.view_cart_button a {
  color: white!important;
  text-decoration: none!important;
}

.cart_total_price {
  color: #f16b62;
  font-weight: 600;
}

.dropdown_menu {
  height: auto;
  padding: 20px !important;
  position: absolute;
  inset: 9px auto auto -192px!important;
  transform: translate(0px, 46px);
  width: 325px;

}

.cart_Item {
  display: flex;
  align-items: center;
}

.cart_Item img {
  width: 40%;
  padding-left: 0;
  padding-right: 0;
}

.cart_Item p {
  padding-left: 10px;
  padding-right: 10px;
  width: -webkit-fill-available;
}

.dropdown_menu_product{
  display: flex;
}

.dropdown_menu_product img{
  height: 90px;
}

.dropdown_menu_product {
  padding-left: 0!important;
}

.close_button {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.close_button button {
  display: flex;
  border: none;
  background-color: white;
}

.dropdown_menu_product .price_color{
  color:#f16b62;
  font-weight: 500;
}

.mobileSearch {
  display: none;
}

.navbarToggle {
  display: flex;
  border-radius: 0!important;
  padding: 5px!important;
  color: white!important;
  background-color: #eb3d32!important;
}
.navigation {
  display: none;
}

@media screen and (max-width: 1399px) {
  .searchSection{
    display: none;
  }
  .logo {
    display: flex!important;
    justify-content: center!important;
  }
  .secondNavigation {
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem!important;
  }
  .mobileSearch {
    display: block;
  }
  .cartDropdown {
    display: flex;
    justify-content: flex-start;
    padding-left: 0!important;
  }
  .dropdown_menu {
    inset: 9px auto auto -12px!important;
  }
}

@media screen and (max-width:1200px) {
  .logo {
    display: flex!important;
    justify-content: center!important;
  }
}

@media screen and (max-width:576px) {
  .searchBar {
    width: 100%;
  }
  .navbar-nav {
    position: absolute!important;
    right: -27px!important;
  }
  .cartDropdown {
    display: flex;
    padding-left: 0!important;
  }
  .dropdown_menu {
    inset: 9px auto auto 20px!important;
  }
  .searchBar .logo img {
    height: 55px;
    margin: 1rem;
  }
  .search_Box {
    width: auto;
    height: auto;
  }
  .cart_total_price {
    color: black;
  }
}