.Card {
  width: 23rem;
  text-align: center;
  border-radius: 0!important;
  margin-top: 5rem;
}

.Card_Text {
  color: gray;
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
  font-size: 1.25rem!important;
}

.Card_Title {
  padding: 1.5rem 0 1.5rem 0!important;
  border-bottom: 1px solid var(--bs-border-color-translucent);
  background-color: var(--bs-card-cap-bg);
}

.Card_Button {
  width: -webkit-fill-available;
  background-color: #363f4e!important;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 0!important;
  font-weight: 600!important;
  border: none!important;
}

@media screen and (max-width: 1224px) {
  .promotionCode {
    display: flex!important;
    justify-content: center!important;
  }
}

@media screen and (max-width: 576px) {
  .Card_Text {
    font-size: 1rem!important;
  }
}